<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form class="form-horizontal" method="POST" action="{{ url_for('logout') }}">

        <h1> Hi {{ name }}, welcome to your account </h1>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Logout</button>
            </div>
        </div>

    <form>
</body>
</html>